<firebot-item-table
    items="giveawaysService.giveaways"
    on-items-update="onGiveawaysUpdated(items)"
    headers="headers"
    sort-tag-context="giveaways"
    orderable="true"
    add-new-button-text="New Giveaway"
    on-add-new-clicked="giveawaysService.showAddEditGiveawayModal()"
    context-menu-options="giveawayOptions(item)"
    no-data-message="No giveaways saved. You should make one! :)"
    none-found-message="No giveaway found."
    search-placeholder="Search giveaways"
    test-button="false"
    status-field="active"
></firebot-item-table>
